<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Página de Inicio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}" type="text/css">

</head>
<body class="container bg-amber-500 color-red ">
<h1 class="container text-4xl font-bold px-4 text-center" >HOLA</h1>
<p>Esta es una aplicación de ejemplo usando Thymeleaf.</p>
<table>
    <thead>
        <tr>
            <td>name</td>
            <td>description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${name}"></td>
            <td th:text="${description}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>