<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}" type="text/css">
</head>


<header class="container mx-auto py-8">
    <h1 class="text-4xl font-bold px-4  ">Welcome to Spring Boot Tailwind</h1>
</header>
<body>

<h1 th:text="#{greeting}">Default Greeting</h1>

<script th:inline="javascript">
    let name = Juan;
    console.log("it's Working");
</script>


<a href="?lang=en" th:href="@{''(lang=en_EN)}" th:text="#{lang.en}">English</a> |
<a href="?lang=cat" th:href="@{''(lang=cat_ES)}" th:text="#{lang.cat}">Catalan</a> |
<a href="?lang=es" th:href="@{''(lang=es_ES)}" th:text="#{lang.es}">Spanish</a>

<p class="container justify-center bg-amber-400" th:text="#{greeting}">Welcome to our grocery store!</p>



</body>
<footer th:replace="footer :: foot">
</footer>
</html>