<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}" type="text/css">
</head>

<body>
<header class="bg-white container mx-auto py-8 container">
    <h1 class="text-4xl font-bold px-4  ">NUEVO</h1>
</header>


<p class="container justify-center bg-amber-500" th:text="#{home.welcome}">Welcome to our grocery store!</p>



</body>

</html>